.folder-manager {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;

  .input-group {
    margin-bottom: 20px;
    gap: 5px;

    input {
      flex-grow: 1;
    }

    button {
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
    }
  }

  .message {
    color: green;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .folder-list {
    ul {
      list-style-type: none;
      padding: 0;

      li {
        font-size: x-small;
        padding: 5px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
      }
    }
  }
}

.folder-explorer {
  h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  button {
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }

  p {
    margin-top: 1rem;
    font-size: 1.2rem;
  }
}

:host::ng-deep {
  .clear-log {
    .p-button {
      border-radius: 50%;
      padding: 5px;
      height: 25px;
      width: 25px;
    }
  }
}
