<div class="folder-manager">
  <h1>Client Folder Manager</h1>

  <div class="input-group">
    <input
      type="text"
      [(ngModel)]="clientName"
      placeholder="Enter client name"
    />
    <button (click)="createFolder()">Create Folder</button>
  </div>

  <p *ngIf="message" class="message">{{ message }}</p>

  <div class="folder-list">
    <h3>Existing Folders</h3>
    <ul>
      <li *ngFor="let folder of folders">{{ folder }}</li>
    </ul>
  </div>
</div>

<div class="folder-explorer">
  <h2>Select a Folder</h2>

  <button (click)="selectFolder()">Browse</button>

  <div *ngIf="selectedFolder">
    <p>Selected Folder: {{ selectedFolder }}</p>
  </div>
</div>
