<p-toolbar class="app-header">
  <div class="p-toolbar-group-start">
    <p-button
      severity="secondary"
      label="Electron POC"
      routerLink="/electron-poc"
    />
  </div>
  <div class="p-toolbar-group-center">
    <p-button label="Go to DWT Scanner" [link]="true" routerLink="/dwt" />
  </div>
  <div class="p-toolbar-group-end">
    <p-button label="Login" [link]="true" routerLink="/auth" />
  </div>
</p-toolbar>

<div class="app-content">
  <router-outlet></router-outlet>
</div>

<shared-log class="sticky-log" />
